appdirs==1.4.3
attrs==18.2.0
black==18.9b0
boto3==1.9.88
botocore==1.12.88
Click==7.0
docutils==0.14
entrypoints==0.3
flake8==3.7.5
jmespath==0.9.3
mccabe==0.6.1
numpy==1.16.1
pandas==0.24.1
pyarrow==0.12.0
pycodestyle==2.5.0
pyflakes==2.1.0
python-dateutil==2.8.0
pytz==2018.9
s3transfer==0.1.13
six==1.12.0
toml==0.10.0
urllib3==1.24.1
twine==1.12.1
tox==3.7.0
pytest==4.2.0
coverage==4.5.2
pytest-cov==2.6.1